body{
font-family: 'Raleway', sans-serif;
margin: 5px;
}

header{
	width: 100%;
}

.header_section{
	float: left;
	height: 200px;
	width: 33%;
}

#header1{
	background-color: red;
}

#header2{
	background-color: blue;
	width: 34%;
}

#header3{
	background-color: green;
}

.headerpic{
	height: 150px;
	margin: 20px auto 10px auto;
	display: block;
	border: solid 2px black;
	border-radius: 100px;
}

main{
	background-color: orange;
	clear: left;
	margin: 10px 0 10px 0;
	padding-bottom: 10px;
	}

#welcome_strip{
	height: 30px;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	background-color: purple;
}

.slide_container{
	height: 500px;
	margin: 10px;
	background-color: red;
}

.slide_div{
	width: 50%;
	float: left;
	text-align: center;
	padding-top: 50px;
}

.slide_text{
	padding-top: 150px;
}

.slide_text h2{
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 10px;
}

.slide_text p{
	font-size: 18px;
}

.slidepic{
	margin-top: 50px;
	height: 400px;
	margin: 0 auto;
	display: block;
}
